@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
    format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0 ;
}

body{
    background-image: url('imagenes/fondo.jpg');
    color: #f6efca;    
}

/* ul{
    animation: cambio 1s infinite;
} */
/* 
@keyframes cambio{
    0% { margin-left: 0;}
    25% { margin-left: 0; }

    30% {margin-left: -100%;}
    55% {margin-left: -100%;}

    
    60% {margin-left: -200%;}
    95% {margin-left: -200%;}

}
 */




/* MOBILE 320 */

/* .flexslider{
    width: 100%;
    position: relative;
}

.slides{
    width: 100%; 
    overflow: hidden;
}

.slides img{
    overflow: hidden;
    width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.flex-control-nav{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.flex-control-nav li{
    display: inline-block;
    margin: 0 6px;
}

.flex-control-nav li a{
    display: block;
    background: #f6efca;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    text-indent: -9999px;
}

.flex-control-nav li a:hover{
    background: #4c0505;
}

.flex-control-nav li a.flex-active{
    background: #4c0505;
}

.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: -27px;
    z-index: 999;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 70px;
    
}




.flex-direction-nav .flex-prev::before{
    margin-left: 20px ;
}

.flex-direction-nav a:before{
    font-family: "flexslider-icon";
    font-size: 30px;
    display: inline-block;
    content: '\f001';
    color:  #f6efca;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before{
    content: '\f002';
}



 */



/* DEKSTOP */

.flexslider{
    width: 100%;
    position: relative;
}

.slides{
    width: 100%; 
    overflow: hidden;
}

.slides img{
    overflow: hidden;
    width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.flex-control-nav{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.flex-control-nav li{
    display: inline-block;
    margin: 0 6px;
}

.flex-control-nav li a{
    display: block;
    background: #f6efca;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    text-indent: -9999px;
}

.flex-control-nav li a:hover{
    background: #4c0505;
}

.flex-control-nav li a.flex-active{
    background: #4c0505;
}

.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: -27px;
    z-index: 999;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 70px;
    
}




.flex-direction-nav .flex-prev::before{
    margin-left: 20px ;
}

.flex-direction-nav a:before{
    font-family: "flexslider-icon";
    font-size: 30px;
    display: inline-block;
    content: '\f001';
    color:  #f6efca;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before{
    content: '\f002';
}


